
/* SUIT by @necolas */

/* =============================================================================
   Base (based on normalize.css - git.io/normalize)
   ========================================================================== */

/* HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE8/9 & FF3
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block }

/*
 * Corrects inline-block display not defined in IE8/9 & FF3
 */
audio, canvas, video { display: inline-block }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) { display: none; height: 0 }

/*
 * Addresses styling for 'hidden' attribute not present in IE8/9, FF3
 */
[hidden] { display: none }

/* Root
   ========================================================================== */
html { font-family: HelveticaArialsans-serif; font-size: 16px; line-height: 1.4; color: #444444; -webkit-text-size-adjust: 100%;     -ms-text-size-adjust: 100% }
body { margin: 0; background: white }

/* Links
   ========================================================================== */
a { color: #105cb6; text-decoration: none }

/* Addresses outline displayed oddly in Chrome */
a:focus { outline: thin dotted }

/* Improves readability when focused and also mouse hovered in all browsers */
a:hover, a:active { outline: 0 }
a:hover, a:focus, a:active { color: #0a3870; text-decoration: underline }

/* Typography
   ========================================================================== */

/*
 * Heading sizes
 * Styles can be controlled with classes to retain the appropriate semantics
 * (NB `.hx` is not used; it's an artefact from the Sass pattern being used)
 *
 * Scale: 14, 16, 20, 24, 32, 48, 54, 60, 72
 */
.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl { margin: 1em 0; font-weight: bold; line-height: 1.1; color: #222222 }
h6, .h6 { font-size: 0.875em; color: #777777 }
h5, .h5 { font-size: 0.875em }
h4, .h4 { font-size: 1em }
h3, .h3 { font-size: 1.25em }
h2, .h2 { margin: 1em 0 0.75em; font-size: 1.5em }
h1, .h1 { margin: 0 0 0.75em; font-size: 2em }
.h1-l, .h1-xl { margin: 0 0 0.5em; font-size: 3.375em; font-weight: normal }
.h1-xl { margin: 0 0 0.5em; font-size: 4.5em; font-weight: normal }

/*
 * Text-size helpers
 */
small, .txt-s { font-size: 75% }
.txt-xl { font-size: 1.5em }

/*
 * Block-level margins
 */
p, blockquote, ul, ol, dl, menu, pre { margin: 0 0 1.4em }

/* Text-level semantics
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold; color: #222222 }
blockquote { padding: 0 20px; color: #777777; border-left: 5px solid #cccccc }
dfn { font-style: italic }
ins { text-decoration: none; background: #f2f2f2 }
mark { color: #222222; background: #ffffcc }
pre, code, kbd, samp { font-family: consolas, monospace, x; font-size: 1em }
code { color: #993366 }
pre { padding: 20px; overflow: auto; white-space: pre; border: 1px solid #cccccc }
q { quotes: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }

/* Lists
   ========================================================================== */
ul, ol { padding-left: 30px }
ul ul, ol ol, ul ol, ol ul { margin: 0 }
dt { font-weight: bold }
dd { margin-left: 30px }

/* Embedded content
   ========================================================================== */

/*
 * 1. Allows images to undergo proportional down-scaling within a container
 * 2. Removes border when inside 'a' element in IE8/9, FF3
 * 3. Removes excess space below inline images
 */
img { height: auto; max-width: 100%; vertical-align: middle; border: 0 }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) { overflow: hidden }

/* Figures
   ========================================================================== */
figure { margin: 0 }

/* =============================================================================
   Common helper classes
   ========================================================================== */
.cf:before, .cf:after { display: table; content: "" }
.cf:after { clear: both }
.is-hidden { display: none !important; visibility: hidden !important }

/* For use with text-level objects */
.center { text-align: center }
.pull-start { float: left }
.pull-end { float: right }
.ilist { padding: 0; margin: 0; list-style: none }
.ilist li, .ilist a { float: left }

/* Spacing helpers (via OOCSS)
   ========================================================================== */

/*
 * Used to adjust the default spacing between components
 * Must not be used to control spacing between nodes within the same object
 * Please use judiciously. These are for exceptions!
 *
 * <type><location><size>
 *
 * p = padding
 * m = margin
 *
 * a = all
 * t = top
 * r = right
 * b = bottom
 * l = left
 * h = horizontal
 * v = vertical
 *
 * s = small
 * m = medium
 * l = large
 * n = none
 */
.ptn, .pvn, .pan { padding-top: 0 !important }
.prn, .phn, .pan { padding-right: 0 !important }
.pbn, .pvn, .pan { padding-bottom: 0 !important }
.pln, .phn, .pan { padding-left: 0 !important }
.pts, .pvs, .pas { padding-top: 0.25em !important }
.prs, .phs, .pas { padding-right: 0.25em !important }
.pbs, .pvs, .pas { padding-bottom: 0.25em !important }
.pls, .phs, .pas { padding-left: 0.25em !important }
.ptm, .pvm, .pam { padding-top: 0.5em !important }
.prm, .phm, .pam { padding-right: 0.5em !important }
.pbm, .pvm, .pam { padding-bottom: 0.5em !important }
.plm, .phm, .pam { padding-left: 0.5em !important }
.ptl, .pvl, .pal { padding-top: 1em !important }
.prl, .phl, .pal { padding-right: 1em !important }
.pbl, .pvl, .pal { padding-bottom: 1em !important }
.pll, .phl, .pal { padding-left: 1em !important }
.mtn, .mvn, .man { margin-top: 0 !important }
.mrn, .mhn, .man { margin-right: 0 !important }
.mbn, .mvn, .man { margin-bottom: 0 !important }
.mln, .mhn, .man { margin-left: 0 !important }
.mts, .mvs, .mas { margin-top: 0.25em !important }
.mrs, .mhs, .mas { margin-right: 0.25em !important }
.mbs, .mvs, .mas { margin-bottom: 0.25em !important }
.mls, .mhs, .mas { margin-left: 0.25em !important }
.mtm, .mvm, .mam { margin-top: 0.5em !important }
.mrm, .mhm, .mam { margin-right: 0.5em !important }
.mbm, .mvm, .mam { margin-bottom: 0.5em !important }
.mlm, .mhm, .mam { margin-left: 0.5em !important }
.mtl, .mvl, .mal { margin-top: 1em !important }
.mrl, .mhl, .mal { margin-right: 1em !important }
.mbl, .mvl, .mal { margin-bottom: 1em !important }
.mll, .mhl, .mal { margin-left: 1em !important }

/* =============================================================================
   Grid
   ========================================================================== */

/*
 * Object grid
 * Flexible grid build using inline-block and box-sizing
 *
 * Example use:
 *
 * <div class="ogrid">
 *     <div class="ogrid__unit unit-1-2"></div>
 *     <div class="ogrid__unit unit-1-2"></div>
 * </div>
 */

/* Grid core
   ========================================================================== */

/*
 * Grid container
 * Must only contain `.ogrid` or `.ogrid__unit` components as children.
 */
.ogrid { display: block; padding: 0; margin: 0 -10px; letter-spacing: -0.31em; word-spacing: -0.43em; text-align: left; text-rendering: optimizespeed }

/* For more complex fixed-fluid hybrid grids */
.ogrid>.ogrid { margin-right: 0; margin-left: 0; overflow: hidden }

/*
 * Grid units
 * No explicit width by default. Apply `.unit-x-y` classes.
 */
.ogrid__unit { display: inline-block; padding: 0 10px; margin: 0; letter-spacing: normal; word-spacing: normal; text-align: left; text-rendering: auto; vertical-align: top; -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;         box-sizing: border-box }

/*
 * Modifier: horizontally centered grid units
 * Allows for automatic unit centering irrespective of the number of units in
 * the grid.
 */
.ogrid--center { text-align: center }

/*
 * Modifier: horizontally centered unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still be used with a nested `ogrid` object.
 */
.ogrid__unit--center { display: block; margin: 0 auto }

/* Proportional units
   ========================================================================== */

/*
 * Independent units
 * Specify the proportional width of an object.
 * Primarily for, but not limited to, use with `.ogrid__unit` components.
 * Intentional redundancy build into each set of unit classes.
 */

/* Full-width units */
.unit-full { display: block }

/* 2 column grid */
.unit-1-2 { width: 50% }
.before-1-2 { margin-left: 50% }

/* 3 column grid */
.unit-1-3 { width: 33.333% }
.before-1-3 { margin-left: 33.333% }
.unit-2-3 { width: 66.667% }
.before-2-3 { margin-left: 66.667% }

/* 4 column grid */
.unit-1-4 { width: 25% }
.before-1-4 { margin-left: 25% }
.unit-2-4 { width: 50% }
.before-2-4 { margin-left: 50% }
.unit-3-4 { width: 75% }
.before-3-4 { margin-left: 75% }

/* 5 column grid */
.unit-1-5 { width: 20% }
.before-1-5 { margin-left: 20% }
.unit-2-5 { width: 40% }
.before-2-5 { margin-left: 40% }
.unit-3-5 { width: 60% }
.before-3-5 { margin-left: 60% }
.unit-4-5 { width: 80% }
.before-4-5 { margin-left: 80% }

/* 6 column grid */
.unit-1-6 { width: 16.667% }
.before-1-6 { margin-left: 16.667% }
.unit-2-6 { width: 33.333% }
.before-2-6 { margin-left: 33.333% }
.unit-3-6 { width: 50% }
.before-3-6 { margin-left: 50% }
.unit-4-6 { width: 66.667% }
.before-4-6 { margin-left: 66.667% }
.unit-5-6 { width: 83.333% }
.before-5-6 { margin-left: 83.333% }

/* 12 column grid */
.unit-1-12 { width: 8.333% }
.before-1-12 { margin-left: 8.333% }
.unit-2-12 { width: 16.667% }
.before-2-12 { margin-left: 16.667% }
.unit-3-12 { width: 25% }
.before-3-12 { margin-left: 25% }
.unit-4-12 { width: 33.333% }
.before-4-12 { margin-left: 33.333% }
.unit-5-12 { width: 41.667% }
.before-5-12 { margin-left: 41.667% }
.unit-6-12 { width: 50% }
.before-6-12 { margin-left: 50% }
.unit-7-12 { width: 58.333% }
.before-7-12 { margin-left: 58.333% }
.unit-8-12 { width: 66.667% }
.before-8-12 { margin-left: 66.667% }
.unit-9-12 { width: 75% }
.before-9-12 { margin-left: 75% }
.unit-10-12 { width: 83.333% }
.before-10-12 { margin-left: 83.333% }
.unit-11-12 { width: 91.667% }
.before-11-12 { margin-left: 91.667% }

/* =============================================================================
   Forms (based on normalize.css - git.io/normalize)
   ========================================================================== */
form { margin: 0 }
fieldset { padding: 0; margin: 0; border: 0 }
legend { padding: 0; white-space: normal; border: 0 }
button, input, select, textarea { margin: 0; font-family: inherit; font-size: 100% }
button, input { line-height: normal }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button }
input[type="checkbox"], input[type="radio"] { padding: 0; cursor: pointer; box-sizing: border-box }

/* Addresses inability to style search inputs properly in Safari and Chrome on OS X */
input[type="search"] { -webkit-box-sizing: content-box;    -moz-box-sizing: content-box;         box-sizing: content-box; -webkit-appearance: textfield }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none }

/* Removes inner padding and border in FF3+ */
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0 }
textarea { overflow: auto; vertical-align: top; resize: vertical }

/* Standard form
   ========================================================================== */
.form .field { margin: 0 0 1.5em }
.form .field:before, .form .field:after { display: table; content: "" }
.form .field:after { clear: both }
.form .caption { display: block; margin: 0 0 5px }
.form .caption-inline { display: inline; margin-right: 15px }
.form .text, .form select { display: block; width: 200px; padding: 4px; border: 1px solid #ccc; border-radius: 2px }
.form select { width: 210px }
.form .text:focus, .form select:focus { border-color: #105cb6; outline: 0 }

/* =============================================================================
   Tables (based on normalize.css - git.io/normalize)
   ========================================================================== */
table { border-collapse: collapse; border-spacing: 0 }
.data-table { margin: 0 0 1.4em }
.data-table caption { padding: 0 10px 0.5em; color: #777777; text-align: left }
.data-table th, .data-table td { padding: 0.5em 10px; text-align: left; border: 1px solid #cccccc }
.data-table tbody tr:nth-child(odd) th, .data-table tbody tr:nth-child(odd) td { background: #f7f7f7 }
.data-table--wide { width: 100% }

/* =============================================================================
   Media Objects
   ========================================================================== */

/* iblock [structural component]
   stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
   ========================================================================== */
.iblock:before, .iblock:after { display: table; content: "" }
.iblock:after { clear: both }

/*
 * Primary graphical component (e.g. img, svg, sprite)
 */
.iblock__img { float: left; margin-right: 10px }
.iblock__img--small { margin-right: 5px }
.iblock__img--large { margin-right: 15px }

/*
 * Optional graphical component
 */
.iblock__opt { float: right; margin-left: 10px }

/*
 * 1. Remove excess space below images in .img block
 * 2. Guard against `img {max-width:100%}` hiding all Media Object images in IE8
 */
.iblock__img img, .iblock__opt img { display: block; max-width: none }

/*
 * Media object body
 * 1. Create a new block formatting context (NBFC) in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 *
 * N.B. This breaks down in some browsers when images within .body exceed its
 * width. The alternative is to use `overflow:hidden` to create the NBFC but
 * this is problematic if the object contains elements absolutely positioned
 * beyond the confines of its box.
 */
.iblock__body { display: table-cell; width: 10000px }

/* iset [structural component]
   ========================================================================== */
.iset { padding: 0; margin: 0 0 0 -10px; overflow: hidden; list-style: none }
.iset__media { float: left; padding: 0; margin: 0 0 10px 10px }
.iset__media img { display: block }
.iset--small { margin: 0 0 0 -2px }
.iset--small .iset__media { margin: 0 0 2px 2px }
.iset--large { margin: 0 0 0 -15px }
.iset--large .iset__media { margin: 0 0 15px 15px }

/* ifig
   ========================================================================== */
.ifig { margin: 0 0 1.4em; background: #f4f5f7 }
.ifig__media { display: block; max-width: 100% }
.ifig__caption { padding: 1em; border: 1px solid #e5e5e5; border-top: 0 }
.ifig__caption p, .ifig__caption ul, .ifig__caption ol, .ifig__caption dl, .ifig__caption blockquote { margin: 0 0 0.7em }

/* Flexible multi-media embeds [structural components]
   alistapart.com/articles/creating-intrinsic-ratios-for-video/
   ========================================================================== */
.flex-embed { position: relative; height: 0; padding-bottom: 56.25%; overflow: hidden }
.flex-embed iframe, .flex-embed embed, .flex-embed object { position: absolute; top: 0; left: 0; width: 100%; height: 100% }

/*
 * Modifier: 4 x 3 aspect ratio
 */
.flex-embed--4by3 { padding-bottom: 75% }

/* =============================================================================
   Buttons
   ========================================================================== */

/*
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="btn [btn--modifier]">Button text</a>
 * <button class="btn [btn--modifier]" type="submit">Button text</button>
 * <input class="btn [btn--modifier]" type="submit" value="Button text">
 */
.btn { position: relative; display: inline-block; padding: 0.4em 0.75em; margin: 0; line-height: normal; color: #444; text-align: center; text-decoration: none; white-space: nowrap; cursor: pointer; background-color: #f2f2f2; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)); background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1)); border: 1px solid; border-color: #d9d9d9 #d9d9d9 #ccc; border-radius: 2px; -webkit-appearance: none;    -moz-appearance: none;         appearance: none }
.btn:hover, .btn:focus, .btn:active { text-decoration: none }
.btn:hover, .btn:focus, .btn:active, .btn.is-pressed { color: #222; background-color: #f7f7f7; border-color: #c6c6c6 #c6c6c6 #bbb; box-shadow: 0 1px 2px rgba(34, 34, 34, 0.2) }
.btn:focus { border-color: #105cb6; outline: 0 }
.btn:active, .btn.is-pressed { background-color: #e6e6e6; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) }

/*
 * Modifier: Smaller buttons
 */
.btn--small { font-size: 0.875em }

/*
 * Modifier: larger buttons
 */
.btn--large { font-size: 1.25em }

/*
 * Modifier: primary buttons
 */
.btn--primary { color: #fff; background-color: #2874ed; border-color: #0e47a1 }
.btn--primary:hover, .btn--primary:focus, .btn--primary:active, .btn--primary.is-pressed { color: #fff; background-color: #317aee; border-color: #0a3272 }
.btn--primary:focus { border-color: #020914 }
.btn--primary:active, .btn--primary.is-pressed { background: #1365e8 }

/*
 * Modifier: danger buttons
 */
.btn--danger { color: #fff; background-color: #db2c2c; border-color: #8a1717 }
.btn--danger:hover, .btn--danger:focus, .btn--danger:active, .btn--danger.is-pressed { color: #fff; background-color: #dc3535; border-color: #5e1010 }
.btn--danger:focus { border-color: #070101 }
.btn--danger:active, .btn--danger.is-pressed { background: #cb2323 }

/*
 * Modifier: special buttons
 */
.btn--special { color: #fff; background-color: #69a619; border-color: #314d0c }
.btn--special:hover, .btn--special:focus, .btn--special:active, .btn--special.is-pressed { color: #fff; background-color: #6faf1a; border-color: #152105 }
.btn--special:focus { border-color: black }
.btn--special:active, .btn--special.is-pressed { background: #5b9016 }

/* Button groups
   ========================================================================== */

/*
 * Add some space between adjacent .btn and .btn-group components
 */
.btn+.btn, .btn+.btn-group, .btn-group+.btn, .btn-group+.btn-group { margin-left: 3px }

/*
 * Create a visual connection between UI actions that belong together.
 * Must only contain `.btn` components as children.
 *
 * Recommended use:
 *
 * <div class="btn-group">
 *    <a class="btn" href="#">Dashboard</a>
 *    <a class="btn" href="#">Account</a>
 *    <a class="btn" href="#">Logout</a>
 * </div>
 */
.btn-group { display: inline-block; vertical-align: middle }
.btn-group .btn { float: left; margin-left: -1px }
.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.is-pressed { z-index: 1 }
.btn-group .btn:not(:first-child):not(:last-child) { border-radius: 0 }
.btn-group .btn:first-child { margin-left: 0; border-top-right-radius: 0; border-bottom-right-radius: 0 }
.btn-group .btn:last-child { border-bottom-left-radius: 0; border-top-left-radius: 0 }

/* Button toolbars
   ========================================================================== */

/*
 * House multiple buttons and button groups.
 * Should only contain `.btn` and/or `.btn-group` components as children.
 *
 * Example use:
 *
 * <div class="btn-toolbar">
 *    <a class="btn" href="#">Run</a>
 *    <div class="btn-group">
 *        <a class="btn" href="#">Update</a>
 *        <a class="btn" href="#">Fork</a>
 *        <a class="btn" href="#">Reset</a>
 *    </div>
 *    <div class="btn-group">
 *        <a class="btn" href="#">Tidy</a>
 *        <a class="btn" href="#">Lint</a>
 *    </div>
 *    <a class="btn" href="#">Share</a>
 * </div>
 */
.btn-toolbar .btn, .btn-toolbar .btn-group { vertical-align: top }

/* =============================================================================
   Icons
   ========================================================================== */

/* Recommended use: <i class="icon [type]">[optional screenreader text]</i> */
.icon { position: relative; display: inline-block; width: 16px; height: 16px; font: a; text-shadow: none; background: url(../img/tbc.png) no-repeat 99px 99px }

/* =============================================================================
   Dropdowns
   ========================================================================== */
.js-dropdown__menu { position: absolute; z-index: 100; display: none; padding: 0; margin: 0 }
.is-open .js-dropdown__menu { display: block }
.dropdown__menu { max-width: 320px; max-height: 350px; min-width: 150px; overflow-y: auto; background: #fff; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) }

/* =============================================================================
   Tabs
   ========================================================================== */
.tabs { padding: 0; margin: 0; list-style: none }
.tabs:before, .tabs:after { display: table; content: "" }
.tabs:after { clear: both }
.tabs li, .tabs a { float: left }
.tabs>li { position: relative; margin-bottom: -1px }
.tab-content>.tab-pane, .tab-content>div { display: none }
.tab-content>.active { display: block }
.container { max-width: 60em; padding: 0 10px; margin: 0 auto }
.container:before, .container:after { display: table; content: "" }
.container:after { clear: both }
.site-header { padding: 10px 0; margin: 0 0 50px; background: #eff1f3; border-bottom: 1px solid #ddd; box-shadow: 0 -1px 2px 2px rgba(0, 0, 0, 0.1) }
.site-header .logo { float: left; margin-right: 30px; font-size: 1.875em; color: #222; text-decoration: none }
.site-header .logo:hover, .site-header .logo:focus, .site-header .logo:active { color: #000 }
.site-nav a { padding: 10px; color: #666; text-decoration: none }
.site-nav a:hover, .site-nav a:focus, .site-nav a:active, .site-nav a.current { color: #222 }
